/* 
to-do: 
    - adicionar fonte (SF Pro ou outra)
    - finalizar parte visual
    - responsividade (nav)
    - mudar idioma
*/

@charset "UTF-8";

:root {
    --corPreto: #000000;
    --corBranco: #FFFFFF;
    --cor1: #E60033;
    --cor2: #0095D9;

    --fonte-padrao: SF Pro, Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
}

header {
    background-color: var(--cor1);
}

nav {
    padding: 10px;
}

nav > a {
    color: var(--corBranco);
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor2);
}


            /* ------------------------------------------- */


body {
    font-family: var(--fonte-padrao);
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    text-align: justify;
}

section {
    margin-top: 20px;
    width: fit-content;
}

section > div {
    margin-bottom: 30px;
}

h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

#nome-pokemon {
    display: flex;
}

#nome-pokemon > h1 {
    font-size: 2em;
    margin-right: 10px;
}

#nome-pokemon > p {
    color: #BBBAB8;
    font-weight: bold;
    font-size: 1.5em;
}

div#weakness {
    display: flexbox;
    flex-wrap: wrap;
}

/* elemetos (geral) */

.elementos > p {
    display: inline-block;
    padding: 2px 0px;
    width: 80px;
    border-radius: 24px;
    text-align: center;
}

/* elemetos específicos*/

.elementos > .fire {
    background-color: #FC7E27;
}

.elementos > .water {
    color: var(--corBranco);
    background-color: #4593C4;
}

.elementos > .ground {
    background-color: #F8DE41;
}

.elementos > .rock {
    background-color: #A38C22;
}

#img-principal > img {
    width: 400px;
}

div#story > p {
    width: 400px;
}

#status > table {
    width: 100%;
}

#status td, th {
    font-weight: normal;
    padding: 5px  0px;
}

#status th {
    text-align: left;
}
